*{
    font-family: 'Rubik', sans-serif;
}
.container{
    background-image: url(../../public/bddbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.error{
    color: #fa313e;
}
