*{
    font-family: 'Rubik', sans-serif;
}
.container{
    background-image: linear-gradient(lightblue,rgb(206, 233, 242));
    background-size: contain;
    height: 100vh;
}
.error{
    color: #fa313e;
}
